GraphicsStudy/GraduationProject000/.vs/
GraphicsStudy/GraduationProject000/x64/

GraphicsStudy/GraduationProject001/.vs/
GraphicsStudy/GraduationProject001/x64/

ServerStudy/ChatClient/.vs/
ServerStudy/ChatClient/x64/

ServerStudy/ChatRoom_1ServerNClient/CharRoomClient/.vs/
ServerStudy/ChatRoom_1ServerNClient/CharRoomClient/x64/

ServerStudy/ChatRoom_1ServerNClient/CharRoomServer/.vs/
ServerStudy/ChatRoom_1ServerNClient/CharRoomServer/x64/

ServerStudy/Client/.vs/
ServerStudy/Client/x64/

ServerStudy/Connectingserver/.vs/
ServerStudy/Connectingserver/x64/