GraphicsStudy/GraduationProject000/.vs/
GraphicsStudy/GraduationProject000/x64/
GraphicsStudy/GraduationProject000/GraduationProject001/x64/

GraphicsStudy/GraduationProject001/.vs/
GraphicsStudy/GraduationProject001/x64/
GraphicsStudy/GraduationProject001/GraduationProject001/x64/

GraphicsStudy/GraduationProject001_2/.vs/
GraphicsStudy/GraduationProject001_2/x64/
GraphicsStudy/GraduationProject001_2/GraduationProject001/x64/

GraphicsStudy/GraduationProject021/.vs/
GraphicsStudy/GraduationProject021/x64/
GraphicsStudy/GraduationProject021/GraduationProject001/x64/

ServerStudy/ChatClient/.vs/
ServerStudy/ChatClient/x64/
ServerStudy/ChatClient/ChatClient/x64/

ServerStudy/ChatRoom_1ServerNClient/CharRoomClient/.vs/
ServerStudy/ChatRoom_1ServerNClient/CharRoomClient/x64/
ServerStudy/ChatRoom_1ServerNClient/CharRoomClient/CharRoomClient/x64/

ServerStudy/ChatRoom_1ServerNClient/CharRoomServer/.vs/
ServerStudy/ChatRoom_1ServerNClient/CharRoomServer/x64/
ServerStudy/ChatRoom_1ServerNClient/CharRoomServer/CharRoomServer/x64/

ServerStudy/Client/.vs/
ServerStudy/Client/x64/
ServerStudy/Client/Client/x64/

ServerStudy/Connectingserver/.vs/
ServerStudy/Connectingserver/x64/
ServerStudy/Connectingserver/Connectingserver/x64/

ServerStudy/SyncPosition/SyncPositionClient/.vs/
ServerStudy/SyncPosition/SyncPositionClient/x64/
ServerStudy/SyncPosition/SyncPositionClient/SyncPositionClient/x64/

ServerStudy/SyncPosition/SyncPositionServer/.vs/
ServerStudy/SyncPosition/SyncPositionServer/x64/
ServerStudy/SyncPosition/SyncPositionServer/SyncPositionServer/x64/